
<h1><b>Oj oj, bardzo nieładne zachowanie koleżko! Oby to się więcej nie powtórzyło!</b></h1>
<hr />

<p>
    @Html.ActionLink("Powrót do sklepu", "Index", "Products", null, new { @class = "btn btn-success" })
</p>

