

<h2>Rejestracja zakończona pomyślnie! Możesz się teraz zalogować.</h2>
<hr />


<p>
    @Html.ActionLink("Zaloguj się", "LogIn", "Customer", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Powrót do sklepu", "Index", "Products", null, new { @class = "btn btn-success" })
</p>
